* {
    background-color: black;
    color: aliceblue;
    font-family: "Segoe UI Light";
    font-size: x-small;
    text-align: center;
    margin: 0 auto;

}


.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;

}
